.main-board {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: silver;
	margin: auto;
	border-radius: 10px;
	width: 97%;
	height: 97vw;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.main-board>div {
	border-radius: 10px;
	width: calc(95% / 4);
	background: lightblue;
	height: calc(95vw / 4);
}

.title {
	color: rgba(60,179,113,1);
	text-align: center;
	text-shadow: 4px 4px rgba(0,0,0,0.30);
	font-size: 4em;
	font-weight: bold;
}

.instructions {
	text-decoration-color: rgba(255, 0, 0, 1);
	font-size: 1em;
	color: rgba(60,179,113,1);
	margin-top: 15px;
}

span {
	font-weight: bolder;
	color: rgba(255, 0, 0, 1);
	text-shadow: 1px 1px rgba(0,0,0,0.30);
}

.hidden {
	display: none;
}


@media screen and (max-width:200px) {
	.vizible {
		display:none;
	}

	.hidden {
		display: inline; 
		color: rgba(255, 0, 0, 1);
		font-size: 1em;
	}
} 

@media screen and (min-width: 201px) and (max-width:450px) {
	.title {
		font-size: 1.5em;
	}
}


	


/*TO DO: adding break point to a minimum viewport to no longer display main-board and show a message instructing that a wider instrument is needed*/
/*TO DO: add a break point to a maximum viewport to no longer resize the main-board and add margin auto*/
